<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangdaye.settings">

    <application>

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/MysplashTheme.Translucent.Settings"
            android:screenOrientation="user"
            android:label="@string/action_settings" />

        <activity android:name=".activity.CustomApiActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
