<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangdaye.muzei">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".activity.MuzeiSettingsActivity"
            android:theme="@style/MysplashTheme.Translucent.Settings"
            android:screenOrientation="user"
            android:label="@string/action_muzei_settings"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity
            android:name=".activity.MuzeiCollectionSourceConfigActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/muzei_settings_title_collection_source"
            android:launchMode="singleTask"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.MysplashMuzeiArtSource"
            android:label="@string/app_name"
            android:description="@string/muzei_description"
            android:icon="@drawable/ic_notification"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data
                android:name="color"
                android:value="@color/colorPrimary_dark" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.wangdaye.mysplash.common.ui.activity.muzei.MuzeiSettingsActivity" />
            <meta-data
                android:name="replacement"
                android:value="com.wangdaye.mysplash"/>
        </service>

        <provider
            android:name=".provider.MysplashMuzeiArtProvider"
            android:authorities="com.wangdaye.mysplash"
            android:label="@string/app_name"
            android:description="@string/muzei_description"
            android:exported="true"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="com.wangdaye.muzei.activity.MuzeiSettingsActivity" />
        </provider>

    </application>

</manifest>
