<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wangdaye.mysplash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Mysplash"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MysplashTheme"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:taskAffinity="com.wangdaye.mysplash"
        android:allowTaskReparenting="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,ManifestResource"
        tools:targetApi="p">

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/MysplashTheme.TranslucentNavigation.Main"
            android:screenOrientation="user"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wangdaye.mysplash.Search" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".search.ui.SearchActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".photo3.ui.PhotoActivity3"
            android:theme="@style/MysplashTheme.Translucent.TranslucentNavigation.Photo2"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity
            android:name=".common.ui.activity.PreviewActivity"
            android:theme="@style/MysplashTheme.Translucent.TranslucentNavigation"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity
            android:name=".collection.ui.CollectionActivity"
            android:theme="@style/MysplashTheme.Translucent.TranslucentNavigation.Collection"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity
            android:name=".user.ui.UserActivity"
            android:theme="@style/MysplashTheme.Translucent.TranslucentNavigation.User"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity android:name=".common.ui.activity.LoginActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <data
                    android:scheme="mysplash"
                    android:host="unsplash-auth-callback" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".me.ui.MeActivity"
            android:theme="@style/MysplashTheme.Translucent.TranslucentNavigation.Me"
            android:screenOrientation="user"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.wangdaye.mysplash.Me" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".me.ui.MyFollowActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity android:name=".common.ui.activity.UpdateMeActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".common.ui.activity.DownloadManageActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.wangdaye.mysplash.DownloadManager" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.SettingsActivity"
            android:theme="@style/MysplashTheme.Translucent.Settings"
            android:screenOrientation="user"
            android:label="@string/action_settings" />

        <activity
            android:name=".about.ui.AboutActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/action_about"/>

        <activity
            android:name=".common.ui.activity.IntroduceActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name" />

        <activity android:name=".common.ui.activity.CustomApiActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".common.ui.activity.SetWallpaperActivity"
            android:theme="@style/MysplashTheme.SetWallpaper"
            android:screenOrientation="user"
            android:launchMode="singleInstance"
            android:label="@string/app_name">
            <intent-filter>
                <data android:mimeType="image/*" />
                <action android:name="android.intent.action.ATTACH_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.ui.activity.muzei.MuzeiSettingsActivity"
            android:theme="@style/MysplashTheme.Translucent.Settings"
            android:screenOrientation="user"
            android:label="@string/action_muzei_settings"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity
            android:name=".common.ui.activity.muzei.MuzeiCollectionSourceConfigActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:screenOrientation="user"
            android:label="@string/muzei_settings_title_collection_source"
            android:launchMode="singleTask"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".common.ui.activity.invisible.RestartActivity"
            android:theme="@style/MysplashTheme.Translucent.Common" />

        <activity
            android:name=".common.ui.activity.invisible.DispatchBrowserActionActivity"
            android:theme="@style/MysplashTheme.Translucent.Common"
            android:launchMode="singleTask">

            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="unsplash.com"
                    android:path="/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="unsplash.com"
                    android:pathPrefix="/photos/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="unsplash.com"
                    android:pathPrefix="/collections/" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:scheme="https"
                    android:host="unsplash.com"
                    android:pathPattern=".*/@.*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <!-- receiver. -->

        <receiver
            android:name=".common.download.DownloadReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <!-- service. -->

        <service
            android:name=".common.muzei.MysplashMuzeiArtSource"
            android:label="@string/app_name"
            android:description="@string/muzei_description"
            android:icon="@drawable/ic_notification"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data
                android:name="color"
                android:value="@color/colorPrimary_dark" />
            <meta-data
                android:name="settingsActivity"
                android:value="com.wangdaye.mysplash.common.ui.activity.muzei.MuzeiSettingsActivity" />
            <meta-data
                android:name="replacement"
                android:value="com.wangdaye.mysplash"/>
        </service>

        <!-- provider. -->

        <provider
            android:name=".common.muzei.MysplashMuzeiArtProvider"
            android:authorities="com.wangdaye.mysplash"
            android:label="@string/app_name"
            android:description="@string/muzei_description"
            android:exported="true"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="com.wangdaye.mysplash.common.ui.activity.muzei.MuzeiSettingsActivity" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>